<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkwAuthors="http://typo3.org/ns/RKW/RkwAuthors/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_contactformAuthor.headline" languageKey="{language}" extensionName="rkwAuthors" arguments="{0 : fullName}" />

<postmaster:email.translate key="templates_email_contactformAuthor.text1" languageKey="{language}" extensionName="rkwAuthors" arguments="{0 : '<rkwAuthors:GetCombinedName author=\'{author}\'/>'}" />

<postmaster:email.translate key="templates_email_contactformAuthor.text2" languageKey="{language}" extensionName="rkwAuthors" />
<f:render partial="Email/Details" section="Plaintext" arguments="{_all}"/>
</f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1><postmaster:email.translate key="templates_email_contactformAuthor.headline" languageKey="{language}" extensionName="rkwAuthors" arguments="{0 : fullName}" /></h1>
        <p><postmaster:email.translate key="templates_email_contactformAuthor.text1" languageKey="{language}" extensionName="rkwAuthors" arguments="{0 : '<rkwAuthors:GetCombinedName author=\'{author}\'/>'}" /></p>
        <p><strong><postmaster:email.translate key="templates_email_contactformAuthor.text2" languageKey="{language}" extensionName="rkwAuthors" /></strong></p>

        <f:render partial="Email/Details" section="Html" arguments="{_all}"/>

    </f:section>

</html>
