<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:frontend.translate key="partials.authors.form.default.salutation" languageKey="{language}" extensionName="rkwAuthors"/>: <f:if condition="{contactForm.salutation} < 99"><rkwMailer:frontend.translate key="partials.authors.form.default.salutation.I.{contactForm.salutation}" languageKey="{language}" extensionName="rkwAuthors"/></f:if>
<rkwMailer:frontend.translate key="partials.authors.form.default.firstName" languageKey="{language}" extensionName="rkwAuthors"/>: {contactForm.firstName}
<rkwMailer:frontend.translate key="partials.authors.form.default.lastName" languageKey="{language}" extensionName="rkwAuthors"/>: {contactForm.lastName}
<rkwMailer:frontend.translate key="partials.authors.form.default.company" languageKey="{language}" extensionName="rkwAuthors"/>: {contactForm.company}
<rkwMailer:frontend.translate key="partials.authors.form.default.email" languageKey="{language}" extensionName="rkwAuthors"/>: {contactForm.email}
<rkwMailer:frontend.translate key="partials.authors.form.default.message" languageKey="{language}" extensionName="rkwAuthors"/>:
{contactForm.message}
</f:section>
    
    <!-- HTML -->
    <f:section name="Html">
        <table class="colored-table" >
            <tr>
                <th style="width:100px" class="align-left">
                    <rkwMailer:frontend.translate key="partials.authors.form.default.salutation" languageKey="{language}" extensionName="rkwAuthors"/>:
                </th>
                <td>
                    <f:if condition="{contactForm.salutation} < 99"><rkwMailer:frontend.translate key="partials.authors.form.default.salutation.I.{contactForm.salutation}" languageKey="{language}" extensionName="rkwAuthors"/></f:if>
                </td>
            </tr>
            <tr>
                <th class="align-left">
                    <rkwMailer:frontend.translate key="partials.authors.form.default.firstName" languageKey="{language}" extensionName="rkwAuthors"/>:
                </th>
                <td>
                    {contactForm.firstName}
                </td>
            </tr>
            <tr>
                <th class="align-left">
                    <rkwMailer:frontend.translate key="partials.authors.form.default.lastName" languageKey="{language}" extensionName="rkwAuthors"/>:
                </th>
                <td>
                    {contactForm.lastName}
                </td>
            </tr>
            <tr>
                <th class="align-left">
                    <rkwMailer:frontend.translate key="partials.authors.form.default.company" languageKey="{language}" extensionName="rkwAuthors"/>:
                </th>
                <td>
                    {contactForm.company}
                </td>
            </tr>
            <tr>
                <th class="align-left">
                    <rkwMailer:frontend.translate key="partials.authors.form.default.email" languageKey="{language}" extensionName="rkwAuthors"/>:
                </th>
                <td>
                    {contactForm.email}
                </td>
            </tr>
            <tr>
                <th class="align-left">
                    <rkwMailer:frontend.translate key="partials.authors.form.default.message" languageKey="{language}" extensionName="rkwAuthors"/>:
                </th>
                <td>
                    <f:format.nl2br>{contactForm.message}</f:format.nl2br>
                </td>
            </tr>
        </table>
        
    </f:section>
</html>