<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <div class="call-to-action no-border-radius-smalldesk full-width-smalldesk">
            <h4 class="call-to-action__headline h3 ">{settings.headline}</h4>

            <div class="call-to-action__inner">
                <div class="call-to-action__text">
                    <p>{settings.text}</p>
                    <f:if condition="{settings.contactLink}" >
                        <f:if condition="{settings.linkText}">
                            <f:then>
                                <f:link.typolink
                                    class="btn btn--white"
                                    parameter="{settings.contactLink}"
                                >
                                    {settings.linkText}
                                </f:link.typolink>
                            </f:then>
                            <f:else>
                                <f:link.typolink
                                    class="btn btn--white"
                                    parameter="{settings.contactLink}"
                                />
                            </f:else>
                        </f:if>
                    </f:if>
                </div>
                <div class="call-to-action__contact">
                    <div class="flex-item contact-tile">
                        <f:if condition="{author1}">
                            <div class="persons">
                                <f:render partial="Authors/Items/BoxSmall" arguments="{author: author1}"/>
                                <f:if condition="{author2}">
                                    <f:render partial="Authors/Items/BoxSmall" arguments="{author: author2}"/>
                                </f:if>
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </f:section>
</html>