<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwAuthors="http://typo3.org/ns/RKW/RkwAuthors/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<div class="filter-wrapper">
		<nav class="nav flex" aria-label="{f:translate(key:'partials.authors.list.filter.filterAriaLabel', extensionName:'rkwAuthors')}">

			<div class="filter-desc">
				<f:link.action
					class="ajax"
					action="list"
					additionalParams="{ajax_api: '{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \'1\'}'}"
					additionalAttributes="{data-ajax-indicator-id: 'tx-rkwauthors-list'}"
				>
					<f:translate key="partials.authors.list.filter.labelShowAll" extensionName="rkwAuthors" />
				</f:link.action>
				<f:translate key="partials.authors.list.filter.labelFilter" extensionName="rkwAuthors" />
			</div>
			<ul class="filter" aria-label="{f:translate(key:'partials.authors.list.filter.filterByLetterAriaLabel', extensionName:'rkwAuthors')}">
				<f:for each="{rkwAuthors:GetFirstLetterList(authors:'{authors}')}" as="letter" >
					<li class="filter__item">
						<f:link.action
							class="ajax"
							action="list"
							arguments="{filter: {letter: letter}}"
							additionalParams="{ajax_api: '{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \'1\'}'}"
							rel="nofollow"
							additionalAttributes="{data-ajax-indicator-id: 'tx-rkwauthors-list'}"
						>
							{letter}
						</f:link.action>
					</li>
				</f:for>
			</ul>
		</nav>
	</div>
</html>