<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwAuthors="http://typo3.org/ns/RKW/RkwAuthors/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:if condition="{author}">

		<h1><rkwAuthors:GetCombinedName author='{author}' addTitleAfter="true"/></h1>
		<f:if condition="{author.department} && {settings.showDepartmentAsFunction}">
			<f:then>
				<f:if condition="{settings.showDepartmentAsFunction} == 2 && {author.functionTitle}">
					<f:then>
						<h2 class="h2">{author.department.name} / {author.functionTitle}</h2>
					</f:then>
					<f:else>
						<h2 class="h2">{author.department.name}</h2>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{author.functionTitle}">
					<h2 class="h2">{author.functionTitle}</h2>
				</f:if>
			</f:else>
		</f:if>


		<f:link.page
			pageUid="{settings.listPid}"
			class="btn btn--icon"
		>
			<svg class="icon icon--16">
				<use xlink:href="#ic-circle-arrow" /></svg>
			<span>
				<f:translate key="partials_authors_details_headline.back" extensionName="rkwAuthors" />
			</span>
		</f:link.page>
	</f:if>
</html>