<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwAuthors="http://typo3.org/ns/RKW/RkwAuthors/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="tile tile--no-img contact-tile">
        <div class="tile__content">
            <f:render partial="Authors/Items/Box/Inner" section="Name" arguments="{_all}" />
            <div class="tile__contact tile__contact--auto mb-1">
                <f:render partial="Authors/Items/Box/Inner" section="Email" arguments="{_all}" />
                <f:render partial="Authors/Items/Box/Inner" section="Phone" arguments="{_all}" />
            </div>
        </div>
        <f:render partial="Authors/Items/Box/Inner" section="Link" arguments="{_all}" />
    </div>

</html>
