<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwAuthors="http://typo3.org/ns/RKW/RkwAuthors/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:if condition="{author}" >
		<f:if condition="{author.internal} && {showPid}">
			<f:then>
				<f:link.action
					class="link link--underlined"
					target="{f:if(condition: '{settings.detailLinkTargetBlank} == 1', then: '_blank')}"
					action="show"
					pageUid="{showPid}"
					arguments="{author: '{author}'}"
				>
					<rkwAuthors:GetCombinedName author="{author}" /></f:link.action><f:if condition="{iterator.isLast}"><f:else>, </f:else></f:if>
			</f:then>
			<f:else>
				<rkwAuthors:GetCombinedName author="{author}" /><f:if condition="!{iterator.isLast}">, </f:if>
			</f:else>
		</f:if>
	</f:if>
</html>